* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
}


/*--------------HEADING--------------*/

.multicolour {
    height: 7%;
    width: 100%;
    background: linear-gradient( to right, #e2449b, #8b45d0, #05d2cf, #8b45d0, #e2449b);
}

.nav1 {
    height: 40%;
    padding-top: 5%;
    width: 100%;
    background-color: #25d6a1;
}

nav {
    /* for cornering list items */
    justify-content: space-around;
    /* space between text and list */
    align-items: center;
    /* text in centre */
    min-height: 8vh;
    font-size: 2vh;
    background-color: aquamarine;
    font-family: 'Poppins', sans-serif;
    /* from google fonts */
}

nav ul {
    display: flex;
}

nav .left a {
    color: cadetblue;
    letter-spacing: 3px;
    text-decoration: none;
    font-weight: bold;
    font-size: 15px;
    align-items: center;
}

nav .right a {
    color: cadetblue;
    letter-spacing: 2px;
    text-decoration: none;
    font-weight: bold;
    font-size: 15px;
    align-items: center;
}

nav .left {
    list-style: none;
    display: flex;
    letter-spacing: 2px;
    justify-content: space-around;
    width: 10%;
    text-align: right;
    padding: 10px;
    margin: 10px;
}

nav .right {
    position: absolute;
    right: 100px;
    padding: 10px;
    margin: 10px;
    justify-content: space-around;
}


/*--------------HEADING Over--------------*/












/* -------------BOxes--------------------- */



.wrapperbox{
    display: flex;
    width: 98%;
    justify-content: space-around;
    /* padding: 5%; */
    /* margin-left: 1%; */
    padding-top: 10%;
    padding-bottom: 10%;
    /* position: relative; */
    border-spacing: 16px;
    transition: 1s ease;

}

.card{
    width: 50vh;
    height: 50vh;
    background-image: linear-gradient(rgba(153, 255, 211, 0.869),rgba(0, 95, 19, 0.879)),url("images/aboutus.png");
    background-attachment: fixed;
    /* position: relative; */
    display: flex;
    flex-direction: column;
    /* align-items: flex-start; */
    box-shadow: 0px 10px 16px rgb(0, 49, 46);
    transition: 0.3s ease-in-out;
    overflow: hidden;
    border-radius: 12vh;
    transition: transform  1s ease-in;
    justify-content: center;
    /* transition: 1s ease-in-out; */
    /* border-spacing: 5vh; */
    /* padding: 10%; */
    /* background: #50e2ca; */
    /* padding: 2vh; */
    /* margin-left: 5%; */
}
.card:hover{
    transform: translateY(-10vh);
    transition: 1s;
    margin: 2%;
}

.card:hover :is(.ima,.text){
    transform: translateY(-40vh);
    /* transition: transform  1s ease-in; */
    display: block;
    transition: 1.5s;
    /* transition: transform ease-in 1s; */

}

.ima{
    width: 50vh;
    height: 50vh;
    padding-top: 100%;
    border-radius: 10vh;
    background-image: url("images/aboutus.png");
    background-position:left;
    background-size: cover;
    background-repeat: no-repeat;
}
/* .text{
    padding-top: 100%;
    padding: 10%;
    display: none;
    transition: 1s;
} */

/* 
.card ::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    z-index: 2;
    transition: 0.3s ease;
    opacity: 0;
    
} */
/*  */
/* .card :hover ::before{
    opacity: 1;
} */

img{
    border-radius: 10vh;
    width: cover;
    align-items: center;
    align-self: center;
    height:inherit;
    object-fit: cover;
    /* position: absolute; */
    /* top :0; */
    /* left: 0; */


}

.Person{
    padding: 5%;
    text-align: center;
    width: 30vh;
    height: 30vh;
    background-image: (linear-gradient(black,grey),url("images/aboutus.png"));
    padding: 0%;
    display: none;
}


 .card:hover .Persons{
    transform: translateY(-30vh);
    transition: 2s;
 }



/*-------------------- Hovering Animations--------------- */

/* Navbar Buttons */
:is(.left:hover,.right:hover)
{
    color: rgb(0, 37, 39);
    transition: 1s;
    transform: translateY(-1%);
    border-radius: 25vh;
    box-shadow: 0 0 0.5vh 0 black;
}

/*------------------------- Hovering Animations Over------------- */



/* ================================================================== */


.mobilecards {
    display: none;
}


/* -------------ANDROID VIEW----------------------------------- */
@media only screen and (max-width: 1040px){
    *{
        font-size: 2vh;
    }
    .card{
       display: none;
    }   
    .mobilecards{
        display: block;
        width: 40vh;
        height: 40vh;
        margin: 10%;
        background-image: linear-gradient(rgba(153, 255, 211, 0.869), rgba(0, 95, 19, 0.879)),url("images/aboutus.png");
        background-attachment: fixed;
        display: flex;
        flex-direction: column;
        box-shadow: 0px 8px 17px rgb(6, 97, 107);
        transition: 0.3s ease-in-out;
        overflow: hidden;
        border-radius: 10vh;
        transition: transform 1s ease-in;
        justify-content: center;
        align-items: center;
        font-size: 2vh;


    }
    .ima{
        width: fit-content;
        padding: 10%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .ima::hover{
        transform: translateY(0);   
    }
   .wrapperbox{
       flex-direction: column;
   }
}