
.footer-dark {
    padding: 0;
    color: #c1d0da;
    background-color: #1AE7A9;
}

.footer-dark ul {
    color: black;
    padding: 0;
    list-style: none;
    line-height: 1.6;
    font-size: 2vh;
    margin-bottom: 0;
}

.footer-dark ul a {
    color: inherit;
    text-decoration: none;
    opacity: 0.6;
}


.mail {
    color: rgb(16, 16, 15);

}

a {
    color: white;
    font-size: medium;


}

.copyright {
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    opacity: 0.8;
    font-size: 20px;
    margin-bottom: 0;
}
.footer-dark .H3 {
    text-align: center;
    color: white;
    font-size: large;
}
.footer-dark h3{
    font-family: cursive;

}

.CU-OB li{
    text-decoration: none;
    font-family: cursive;
    text-align: center;
    font-size: larger;
    color: rgb(0, 0, 0);
    font-weight: bold;
}
.CU{
    padding-top: 10px;
}
.OB{
    padding-bottom: 10px;
}



.wrapper .button {
    display: inline-block;
    height: 50px;
    width: 50px;
    margin: 10px;
    overflow: hidden;
    background: rgb(0, 0, 0);
    border-radius: 30px;
    transition: all 0.3s ease-out;
}

.wrapper .button .icon {
    display: inline-block;
    height: 30px;
    width: 30px;
    text-align: center;
    border-radius: 30px;
    box-sizing: border-box;
    line-height: 30px;
    transition: all 0.3s ease-out;
}


.wrapper .button .icon i {
    font-size: 25px;
    line-height: 60px;
    transition: all 0.3s ease-out;
}

.wrapper .button:hover .icon i::before{
    color: rgb(211, 208, 208);
    border-radius: 25vh;
    box-shadow: 0 0 2vh 2vh rgb(237, 218, 218);
    transition: 1s;
}
.wrapper .button .icon i {
    font-size: 4vh;
    line-height: 7vh;
    transition: all 0.3s ease-out;
}

.wrapper .button:hover .icon i {
    color: #fff;
}
.icon i:hover{
    transform: translateY(-2vh);

}

.wrapper .button span {
    font-size: 20px;
    font-weight: 500;
    line-height: 60px;
    margin-left: 10px;
    transition: all 0.3s ease-out;
}
.wrapper .button {
    text-align: center;
    display: inline-block;
    height: 6.5vh;
    width: 6vh;
    margin: 2vh;
    overflow: hidden;
    background: rgb(26, 33, 49);
    border-radius: 4vh;
    transition: all 0.3s ease-out;
}

.wrapper .button .icon {
    display: inline-block;
    height: 4vh;
    width: 4vh;
    text-align: center;
    border-radius: 4vh;
    box-sizing: border-box;
    line-height: 4vh;
    transition: all 0.3s ease-out;
}


.nav2 .centre {
    position: absolute;
    text-align: center;
    padding: 40px;
    width: 100%;
}


/*--------------footer 2 over--------------*/
.DOWN{
    padding: 10px;
    background-color: black;
}