* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
}


/*--------------HEADING--------------*/

.multicolour {
    height: 1vh;
    width: 100%;
    background: linear-gradient( to right, #e2449b, #8b45d0, #05d2cf, #8b45d0, #e2449b);
}

.nav1 {
    height: 5vh;
    width: 100%;
    background-color: #25d6a1;
}

nav {
    /* for cornering list items */
    justify-content: space-around;
    /* space between text and list */
    align-items: center;
    /* text in centre */
    min-height: 8vh;
    background-color: aquamarine;
    font-family: 'Poppins', sans-serif;
    /* from google fonts */
}

nav ul {
    display: flex;
}

nav .left a {
    color: cadetblue;
    letter-spacing: .05vh;
    text-decoration: none;
    font-weight: bold;
    font-size: 2vh;
    align-items: center;
}

nav .right a {
    color: cadetblue;
    letter-spacing: .05vh;
    text-decoration: none;
    font-weight: bold;
    font-size: 2vh;
    align-items: center;
}

nav .left {
    list-style: none;
    display: flex;
    letter-spacing: .05vh;
    justify-content: space-around;
    width: 10%;
    text-align: right;
    padding: 2vh;
    margin: 2vh;
}

nav .right {
    position: absolute;
    right: 3vh;
    padding: 2vh;
    margin: 2vh;
    justify-content: space-around;
}


/*--------------HEADING Over--------------*/

.content {
    margin: 10vh;
    padding: 10vh;
}


/*--------------footer 1--------------*/

.footer1 {
    height: 7vh;
    background-color: #6debc5;
}

.nav2 ul {
    display: flex;
}

.nav2 a {
    color: cadetblue;
    text-decoration: none;
    font-weight: bold;
    font-size: 2vh;
    align-items: center;
}

.nav2 .left {
    position: absolute;
    width: 100%;
    padding: 4vh;
    text-align: left;
    justify-content: space-around;
}

.nav2 .right {
    position: absolute;
    width: 100%;
    padding: 4vh;
    text-align: right;
    justify-content: space-around;
}

.footer-dark {
    padding: 0;
    color: #c1d0da;
    background-color: #1AE7A9;
}

.footer-dark ul {
    color: black;
    padding: 0;
    list-style: none;
    line-height: 1.6;
    font-size: 2vh;
    margin-bottom: 0;
}

.footer-dark ul a {
    color: inherit;
    text-decoration: none;
    opacity: 0.6;
}

.footer-dark .copyright {
    text-align: center;
    padding-top: 2vh;
    opacity: 0.8;
    font-size: 2vh;
    margin-bottom: 0;
}

.wrapper .button {
    display: inline-block;
    height: 6.5vh;
    width: 6vh;
    margin: 2vh;
    overflow: hidden;
    background: rgb(26, 33, 49);
    border-radius: 4vh;
    transition: all 0.3s ease-out;
}

.wrapper .button .icon {
    display: inline-block;
    height: 4vh;
    width: 4vh;
    text-align: center;
    border-radius: 4vh;
    box-sizing: border-box;
    line-height: 4vh;
    transition: all 0.3s ease-out;
}

.wrapper .button .icon i {
    font-size: 4vh;
    line-height: 7vh;
    transition: all 0.3s ease-out;
}

.wrapper .button:hover .icon i {
    color: #fff;
}

.wrapper .button span {
    font-size: 4vh;
    font-weight: 500;
    line-height: 7vh;
    margin-left: 4vh;
    transition: all 0.2s ease-out;
}

.nav2 .centre {
    position: absolute;
    text-align: center;
    padding: 4vh;
    width: 100%;
}


/*--------------footer 2--------------*/

.footer2 {
    height: 100px;
    background-color: #6debc5;
    width: 100%;
}

.content1 {
    width: 100%;
    text-align: center;
    padding-top: 10px;
}


/*--------------footer 2 over--------------*/


/*-------------------- Hovering Animations--------------- */


/* Navbar Buttons */

:is(.left:hover, .right:hover) {
    color: rgb(0, 0, 0);
    border-radius: 25vh;
    box-shadow: 0 0 0.5vh 0 black;
}


