/* ==================📱 ANDROID VIEW 📱================== */

/*--------------HOME PAGE------------------ */
@media only screen and (max-width: 840px) {
    .content {
        margin: 5vh;
    }
    
    /*---------------- Responsive Navbar--------------- */



a{ 
    font: 50vh;
    
}

.nav1{
     height: 10vh;
}

#nav-button{
    /* position: fixed; */
    visibility: visible;
    display: block;
}

}



/* 😀😀😀😀😀😀😀😀😀😀😀😀😀😀😀😀😀😀😀😀😀😀😀😀 */
/* -------------------ABOUT US--------------------------- */


/* -------------ANDROID VIEW----------------------------------- */
@media only screen and (max-width:886px) {
    * {
        font-size: 2vh;
    }
    ul{
        display: flex;
        flex-direction: column;
        padding: 5%;
    }

    #nav-button {
        /* position: fixed; */
        visibility: visible;
        display: block;
    }
    #aboutus{
        position: absolute;
        bottom: 10%;
    }
    nav {
        transition: 0.5s ease-in;
        visibility: visible;
        background-color:rgb(0 61 35 / 94%);
        position: fixed;
        top: 0;
        right: 0;
        height: 100%;
        inset: 0 0 0 30%;
        transform: translateX(100%);
    }
 }

 @media only screen and (min-width:886px) {
    #nav-button,#nav-close {
        visibility: hidden;
    }
 }