#nav-button {
    width: 7vh;
    height: 7vh;
    padding: 2%;
    margin: 1%;
    position: absolute;
    top: 0%;
    right: 0%;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ6m1HrkuwCqUZY2l_b0Li_1U8XBXhfFUbEYg&usqp=CAU");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 25vh;
    box-shadow: 0 0 10vh 0.5vh;
    border: 0.5vh solid rgb(37 214 161);
    /* visibility: hidden; */
    /* display: none; */
    /* border: none; */
}

#nav-close {
    position: absolute;
    top: 0;
    right: 0;
    width: 7vh;
    height: 7vh;
    padding: 2%;
    margin: 1%;
}





/*--------------HEADING--------------*/

.multicolour {
    height: 7%;
    width: 100%;
    background: linear-gradient(to right, #e2449b, #8b45d0, #05d2cf, #8b45d0, #e2449b);
}

.nav1 {
    position: fixed;
    font-size: 100%;
    text-align: center;
    height: 10vh;
    top: 0;
    z-index: 2;
    width: 100%;
    color: rgb(0, 88, 0);
    background-color: #25d6a1;
}
h1{font-family: 'Oleo Script Swash Caps', cursive;}

nav {
    position: relative;
    margin-top: 10vh;
    /* z-index: 5; */
    justify-content: space-around;
    align-items: center;
    min-height: 12vh;
    font-size: 2vh;
    background-color: aquamarine;
    font-family: 'Poppins', sans-serif;
    /* border-radius: 5vh; */
}


nav .left a {
    color: cadetblue;
    letter-spacing: 3px;
    text-decoration: none;
    font-weight: bold;
    font-size: 15px;
    align-items: center;
}

nav .right a {
    color: cadetblue;
    letter-spacing: 2px;
    text-decoration: none;
    font-weight: bold;
    font-size: 15px;
    align-items: center;
}

nav .left {
    background-color: aquamarine;
    float: left;
    list-style: none;
    display: flex;
    letter-spacing: 2%;
    justify-content: space-around;
    border-radius: 25vh;
    align-items: center;
    width: 20vh;
    text-align: right;
    padding: 4vh;
    margin: 0 5vh;
}

nav .right {
    /* background-color: aquamarine; */
    /* width: 10%; */
    /* float: right; */
    /* padding: 5vh; */
    /* border-radius: 25vh; */
    /* margin: 0.5%; */
    /* align-items: center; */
    /* justify-content: center; */
    width: 30vh;
    padding: 4vh;
    background-color: aquamarine;
    float: right;
    list-style: none;
    display: flex;
    letter-spacing: 2%;
    justify-content: space-around;
    border-radius: 25vh;
    align-items: center;
    text-align: right;

}
nav:hover{
    z-index: 5;
}

/*--------------HEADING Over--------------*/

body {
    scroll-behavior: smooth;
    /* transition: 1s; */
}


#active {
    content: '';
    position: absolute;
    height: 6vh;
    width: 5vh;
    top: 40%;
    transition: 0s;
    left: -38%;
    border-radius: 4vh 4vh 4vh 4vh;
    background-color: aquamarine;
    /* box-shadow: 1.5vh -1.5vh 0vh 0vh #25d6a1; */
    box-shadow: 1.5vh 1.5vh 0vh 0vh #25d6a1;
}


button, button:active{
    outline: none;
    border: none;
}